body {
  font-family: 'Italianno', cursive;
  background-color: #E7E9EB;
  color: #282A35;
}

img {
  border: 2px solid #485D72;
  border-radius:  50px 15px   ;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    text-align: center;
  }

  .myUL {
    display: inline-block;
    text-align: left;
  }

  #header-content {
    position: absolute;
    border: 10% ;
    top: 40%;
    left: 25%;

  }

  .marginbody {
    width: 80%;
    font-family: Montserrat;
  }

  