body {
  font-family: 'Italianno', cursive;
  background-color: #E7E9EB;
  color: #282A35;
}

img {
  border: 2px solid #485D72;
  border-radius:  50px 15px   ;
}

nav ul li a {
  display: inline-block;
  min-width: 40px;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: #282A35;
  padding: 5px 10px;
  transition: all 300ms ease;
}

nav ul li a:hover {
  font-size: 36px;
  color: #9BF8FD;
}



  .container {
    text-align: center;
  }

  .myUL {
    display: inline-block;
    text-align: left;
  }

  #header-content {
    position: absolute;
    border: 10% ;
    top: 40%;
    left: 25%;

  }


  